{% include 'header.html.twig' %}
    <div class="wrapper">

      <!-- Vendor Cards  -->
      <div class="row vendor">
        <h2>Vendors</h2>
        <hr>
          {% if vendors is not empty %}
            {% for vendor in vendors %}
              <div class="col-lg-4">
                <div class="card">
                  <div class="card-block">
                      <h4 id="cardOverride" class="card-title"> {{vendor.getName}} </h4>
                      <h6 class="card-subtitle text-muted"> Vendors </h6>
                  </div>
                  <img class="img img-fluid" src="{{vendor.getPhoto}}" alt="Card image">
                  <div class="card-block">
                      <p class="card-text">{{vendor.getDescription}}</p>
                      <a href="{{vendor.getUrl}}" class="card-link"> {{vendor.getName}} Website</a>
                      <form action="/order/{{vendor.getName}}/{{client.getId}}" method="get">
                        <button type="submit" class="btn btn-sm btn-primary">Order</button>
                      </form>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
        <br>
        <!-- Service Cards -->
        <div class="services row">
          <h2>Services</h2>
          <hr>
          {% if services is not empty %}
            {% for service in services %}
              <div class="col-lg-4">
                <div class="card">
                  <div class="card-block">
                    <h4 id="cardOverride" class="card-title"> {{service.getName}} </h4>
                    <h6 class="card-subtitle text-muted"> Services </h6>
                  </div>
                  <img class="img img-fluid" src="{{service.getPhoto}}" alt="Card image">
                  <div class="card-block">
                    <p class="card-text">{{service.getDescription}}</p>
                    <form action="/order/{{service.getName}}/{{client.getId}}" method="post">
                      <button type="submit" class="btn btn-sm btn-primary">Order</button>
                    </form>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>

  <!-- End Cards -->
    </div>

{% include 'footer.html.twig' %}
