{% include 'header.html.twig' %}
    <div class="wrapper">
        <div class="title">
            <h3>These are Website Instructions</h3>
        </div>
        <div class="row cardBackground">

<!-- INSERT REAL WITH TWIG  -->
{% if vendors is not empty %}
  {% for vendor in vendors %}
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title"> {{vendor.getName}} </h4>
                        <h6 class="card-subtitle text-muted"> {{vendor.getTypeId}} </h6>
                    </div>
                    <img class="img img-fluid" src="{{vendor.getPhoto}}" alt="Card image">
                    <div class="card-block">
                        <p class="card-text">{{vendor.getDescription}}</p>
                        <a href="{{vendor.getUrl}}" class="card-link"> {{vendor.getName}} Website</a>
                        <a href="/order/{{vendor.getName}}/{{client.getId}}" class="card-link"> Order </a>
                    </div>
                </div>
            </div>
  {% endfor %}
{% endif %}
<!-- End Cards -->
        </div>
    </div>

{% include 'footer.html.twig' %}
