{% include 'header.html.twig' %}
  <div class="wrapper">
    <h2>THANK YOU FOR YOUR ORDER!</h2>
    <br>
    <h2>You placed a {{service.getName}} Order!</h2>
    <div class="row">
      <div class="col-xs-2">

      </div>
      <div class="col-xs-8">
        <br>
          <h4>Order Info:</h4>
          <p>
            {{rider.getName}} is on their way!
            <h5>You ordered:</h5>
            {{order.getDetails}}<br>{{order.getInstructions}}
          </p>
          <h4>Delivery Address:</h4> <p>{{client.getName}}<br>{{address.getAddressOne}}<br>{{address.getCity}}, {{address.getState}} {{address.getZip}}<br>{{address.getCountry}}<br></p>
          <br>
          <form action="/" method="get">
            <button class="btn btn-primary" type="submit" name="button">Place another order</button>
          </form>
        </div>
      <div class="col-xs-2"></div>
    </div>
  </div>

{% include 'footer.html.twig' %}
