{% include 'header.html.twig' %}
  <div class="wrapper">
    <h2>Place a {{vendor.getName}} Order!</h2>
    <div class="row">
      <div class="col-xs-2">

      </div>
      <div class="col-xs-8">
        <h4>Delivery Address:</h4> <p>{{client.getName}}<br>{{address.getAddressOne}}<br>{{address.getCity}}, {{address.getState}} {{address.getZip}}<br>{{address.getCountry}}<br></p>

        <form action="/edit_address/{{vendor.getName}}/{{client.getId}}" method="post">
          <button class="btn btn-sm btn-warning" type="submit"  name="button">Change address</button>
        </form>
        <hr>

        <form action="/new_order" method="post">
          <div class="form-group">
            <label for="order_details">Enter Order details:</label>
            <textarea class="form-control" name="order_details" id="order_details" rows="10"></textarea>
          </div>

          <div class="form-group">
            <label for="order_instructions">Enter Order instructions:</label>
            <textarea class="form-control" name="order_instructions" id="order_instructions" rows="6"></textarea>
          </div>

          <br>
          <button type="button" class="btn btn-lg btn-primary"  name="button">Place my order!</button>
        </form>

      </div>
      <div class="col-xs-2">

      </div>
    </div>
  </div>

{% include 'footer.html.twig' %}
