{% include 'header.html.twig' %}
  <div class="wrapper">
    <h2>THANK YOU FOR YOUR ORDER!</h2>
    <br>
    <h2>You placed a {{vendor.getName}} Order!</h2>
    <div class="row">
      <div class="col-xs-2">

      </div>
      <div class="col-xs-8">
        <br>
          <h4>Order Info:</h4>
          <p>
            {{rider.getName}} is on their way!
            <h5>You ordered:</h5>
            {{order.getDetails}}<br>{{order.getInstructions}}
          </p>
          <h4>Delivery Address:</h4> <p>{{client.getName}}<br>{{address.getAddressOne}}<br>{{address.getCity}}, {{address.getState}} {{address.getZip}}<br>{{address.getCountry}}<br></p>
          <br>
        </div>
      <div class="col-xs-2">

      </div>
      <a href="/">Place another order</a>
    </div>
  </div>

{% include 'footer.html.twig' %}
